{
  "openapi": "3.1.0",
  "info": {
    "title": "QRouter API",
    "version": "1.0.0",
    "description": "One authenticated API for hardware-aware compilation, routing, pricing, and execution across quantum providers."
  },
  "servers": [
    {
      "url": "https://api.qrouter.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "qci_live_*"
      }
    },
    "headers": {
      "RequestId": { "schema": { "type": "string" }, "description": "Correlation id; echoed from the request when x-request-id is supplied." },
      "IdempotentReplayed": { "schema": { "const": "true" }, "description": "Set when the stored response for this Idempotency-Key was returned." }
    },
    "responses": {
      "BadRequest": { "description": "Invalid body, or a missing/out-of-range Idempotency-Key (codes: invalid_request, invalid_idempotency_key)", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Unauthorized": { "description": "Missing, malformed, revoked, or expired API key (code: authentication_error)", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "NotFound": { "description": "Resource does not exist in this organization (codes: circuit_not_found, job_not_found, execution_not_found)", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Conflict": { "description": "State conflict (codes: idempotency_conflict, circuit_active, circuit_released, not_cancellable, execution_changed, result_not_available, transpiled_not_available)", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Unprocessable": { "description": "Circuit could not be parsed (code: invalid_circuit)", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "RateLimited": { "description": "Organization rate limit exceeded (code: rate_limit_error)", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" }, "retry-after": { "schema": { "type": "integer" }, "description": "Seconds to wait before retrying." } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "ServerError": { "description": "Unexpected server error (code: internal_error). Upstream provider and database errors are never echoed.", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } }
    },
    "parameters": {
      "JobId": {
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ProjectId": {
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "Constraints": {
        "type": "object",
        "properties": {
          "maxCost": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "maxQueueSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "minFidelity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "kind": {
            "enum": [
              "qpu",
              "simulator"
            ]
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludeProviders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateJob": {
        "type": "object",
        "required": [
          "circuit"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "circuit": {
            "type": "string",
            "maxLength": 256000
          },
          "format": {
            "enum": [
              "openqasm2",
              "openqasm3"
            ],
            "default": "openqasm2"
          },
          "shots": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000,
            "default": 1024
          },
          "target": {
            "type": "string",
            "default": "auto"
          },
          "routing_mode": {
            "enum": [
              "balanced",
              "cost",
              "speed",
              "quality"
            ],
            "default": "balanced"
          },
          "optimization_level": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "default": 2
          },
          "failover": {
            "type": "boolean",
            "default": true,
            "description": "Try another compatible backend after a provider failure without exceeding the accepted quote."
          },
          "max_attempts": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "default": 3
          },
          "timeout_seconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 604800,
            "default": 7200
          },
          "constraints": {
            "$ref": "#/components/schemas/Constraints"
          }
        }
      },
      "Circuit": {
        "type": "object",
        "required": ["id", "organization_id", "name", "format", "source_hash", "analysis", "created_at", "expires_at", "released_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "organization_id": { "type": "string", "format": "uuid" },
          "name": { "type": ["string", "null"] },
          "format": { "enum": ["openqasm2", "openqasm3"] },
          "source_hash": { "type": "string" },
          "analysis": { "type": "object" },
          "created_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": ["string", "null"], "format": "date-time" },
          "released_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "CircuitResponse": {
        "type": "object",
        "required": ["object", "data"],
        "properties": { "object": { "const": "circuit" }, "data": { "$ref": "#/components/schemas/Circuit" } }
      },
      "CreateCircuit": {
        "type": "object",
        "additionalProperties": false,
        "required": ["circuit"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 120 },
          "circuit": { "type": "string", "minLength": 1, "maxLength": 256000 },
          "format": { "enum": ["openqasm2", "openqasm3"], "default": "openqasm2" }
        }
      },
      "ExecutionTarget": {
        "type": "object",
        "additionalProperties": false,
        "required": ["key"],
        "properties": {
          "key": { "type": "string", "minLength": 1, "maxLength": 64 },
          "target": { "type": "string", "minLength": 1, "maxLength": 120, "default": "auto" },
          "shots": { "type": "integer", "minimum": 1, "maximum": 1000000, "default": 1024 },
          "routing_mode": { "enum": ["balanced", "cost", "speed", "quality"], "default": "balanced" },
          "optimization_level": { "type": "integer", "minimum": 0, "maximum": 3, "default": 2 },
          "failover": { "type": "boolean", "default": true },
          "max_attempts": { "type": "integer", "minimum": 1, "maximum": 5, "default": 3 },
          "timeout_seconds": { "type": "integer", "minimum": 60, "maximum": 604800, "default": 7200 },
          "constraints": { "$ref": "#/components/schemas/Constraints" }
        }
      },
      "CreateHostedJob": {
        "type": "object",
        "additionalProperties": false,
        "required": ["circuit_id", "executions"],
        "properties": {
          "circuit_id": { "type": "string", "format": "uuid" },
          "executions": { "type": "array", "minItems": 1, "maxItems": 25, "description": "Each key must be unique within the job.", "items": { "$ref": "#/components/schemas/ExecutionTarget" } },
          "metadata": { "$ref": "#/components/schemas/Metadata" }
        }
      },
      "Metadata": {
        "type": "object",
        "default": {},
        "maxProperties": 50,
        "propertyNames": { "maxLength": 64 },
        "additionalProperties": { "type": "string", "maxLength": 500 }
      },
      "HostedExecution": {
        "type": "object",
        "required": ["id", "key", "status", "target", "shots", "routing_mode", "result_available", "created_at", "updated_at", "completed_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "key": { "type": "string", "maxLength": 64 },
          "status": { "enum": ["quoted", "awaiting_payment", "queued", "dispatching", "submitted", "processing", "completed", "failed", "cancellation_requested", "cancelled"] },
          "target": { "type": "string" },
          "selected_backend_id": { "type": ["string", "null"] },
          "shots": { "type": "integer" },
          "routing_mode": { "enum": ["balanced", "cost", "speed", "quality"] },
          "analysis": { "type": ["object", "null"], "description": "Circuit analysis plus the transpilation summary. Reduced to { \"released\": true } once the circuit is released." },
          "route_decision": { "type": ["object", "null"] },
          "result_available": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "completed_at": { "type": ["string", "null"], "format": "date-time" },
          "quote": { "type": "object", "description": "Present once the execution has been quoted." },
          "error": { "type": ["object", "null"] }
        }
      },
      "HostedJob": {
        "type": "object",
        "required": ["id", "circuit_id", "organization_id", "status", "metadata", "executions", "created_at", "updated_at", "completed_at", "error"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "circuit_id": { "type": "string", "format": "uuid" },
          "organization_id": { "type": "string", "format": "uuid" },
          "status": { "enum": ["queued", "running", "awaiting_payment", "completed", "failed", "cancelled"] },
          "metadata": { "$ref": "#/components/schemas/Metadata" },
          "executions": { "type": "array", "items": { "$ref": "#/components/schemas/HostedExecution" } },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "completed_at": { "type": ["string", "null"], "format": "date-time" },
          "error": { "type": ["object", "null"] }
        }
      },
      "HostedJobResponse": {
        "type": "object",
        "required": ["object", "data"],
        "properties": { "object": { "const": "job" }, "data": { "$ref": "#/components/schemas/HostedJob" } }
      },
      "HostedJobParkedResponse": {
        "type": "object",
        "required": ["object", "data", "error"],
        "properties": {
          "object": { "const": "job" },
          "data": { "$ref": "#/components/schemas/HostedJob" },
          "error": { "type": "object", "required": ["code", "message"], "properties": { "code": { "const": "insufficient_credits" }, "message": { "type": "string" } } }
        }
      },
      "CancelledExecutionResponse": {
        "type": "object",
        "required": ["object", "data"],
        "properties": {
          "object": { "const": "execution" },
          "data": { "type": "object", "required": ["id", "status"], "properties": { "id": { "type": "string", "format": "uuid" }, "status": { "enum": ["cancelled", "cancellation_requested"] } } }
        }
      },
      "BackendListResponse": {
        "type": "object",
        "required": ["object", "data", "qci"],
        "properties": {
          "object": { "const": "list" },
          "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "string" }, "capabilities": { "type": "object", "properties": { "input_formats": { "type": "array", "items": { "enum": ["openqasm2", "openqasm3"] } }, "execution": { "const": "async" }, "result": { "type": "array", "items": { "type": "string" } } } } } } },
          "qci": { "type": "object", "required": ["timestamp", "source", "index", "price_per_qc_hour"], "properties": { "timestamp": { "type": "string", "format": "date-time" }, "source": { "type": "string" }, "index": { "type": "number" }, "price_per_qc_hour": { "type": "number" } } }
        }
      },
      "Problem": {
        "type": "object",
        "required": ["type", "title", "status", "detail", "instance", "code", "request_id"],
        "properties": {
          "type": { "type": "string" }, "title": { "type": "string" }, "status": { "type": "integer" },
          "detail": { "type": "string" }, "instance": { "type": "string", "description": "Path of the request that failed." },
          "code": { "type": "string" }, "request_id": { "type": "string", "description": "Mirrors the x-request-id response header." }
        }
      },
      "ProjectSettings": {
        "type": "object",
        "required": [
          "shots",
          "target",
          "routingMode",
          "optimizationLevel"
        ],
        "properties": {
          "shots": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000,
            "default": 1024
          },
          "target": {
            "type": "string",
            "default": "auto"
          },
          "routingMode": {
            "enum": [
              "balanced",
              "cost",
              "speed",
              "quality"
            ],
            "default": "balanced"
          },
          "optimizationLevel": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "default": 2
          },
          "failover": {
            "type": "boolean",
            "default": true
          },
          "maxAttempts": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "default": 3
          },
          "timeoutSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 604800,
            "default": 7200
          }
        }
      },
      "CreateProject": {
        "type": "object",
        "required": [
          "repository"
        ],
        "properties": {
          "repository": {
            "type": "string",
            "examples": [
              "acme/quantum-workloads"
            ]
          },
          "production_branch": {
            "type": "string",
            "default": "repository default branch"
          },
          "circuit_path": {
            "type": "string",
            "examples": [
              "circuits/bell.qasm"
            ]
          },
          "settings": {
            "$ref": "#/components/schemas/ProjectSettings"
          }
        }
      },
      "RepositoryDeployment": {
        "type": "object",
        "required": [
          "project_id"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "ref": {
            "type": "string",
            "description": "Branch, tag, or commit SHA. Defaults to the production branch."
          },
          "circuit_path": {
            "type": "string",
            "description": "OpenQASM entrypoint. Defaults to the project entrypoint."
          },
          "deployment_id": {
            "type": "string",
            "maxLength": 120,
            "description": "Stable idempotency value from CI or a webhook."
          },
          "settings": {
            "$ref": "#/components/schemas/ProjectSettings"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "enum": [
              "created",
              "analyzing",
              "quoted",
              "awaiting_payment",
              "funds_reserved",
              "queued",
              "dispatching",
              "submitted",
              "processing",
              "completed",
              "failed",
              "cancellation_requested",
              "cancelled"
            ]
          },
          "selected_backend_id": {
            "type": "string"
          },
          "analysis": {
            "type": "object"
          },
          "route_decision": {
            "type": "object"
          },
          "result": {
            "type": [
              "object",
              "null"
            ]
          },
          "quote": {
            "type": [
              "object",
              "null"
            ],
            "description": "Quote issued for this job (present on creation and detail responses).",
            "properties": {
              "providerCost": {
                "type": "number"
              },
              "transpilerFee": {
                "type": "number"
              },
              "platformFee": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              },
              "rateSnapshot": {
                "type": "object"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/repositories/inspect": {
      "get": {
        "summary": "Inspect an authenticated GitHub repository for OpenQASM entrypoints and qrouter.json",
        "parameters": [
          {
            "in": "query",
            "name": "repository",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ref",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository metadata, QASM files, and optional configuration"
          },
          "404": {
            "description": "Repository or ref not found"
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "summary": "List connected repository projects",
        "responses": {
          "200": {
            "description": "Project list"
          }
        }
      },
      "post": {
        "summary": "Import or update a repository project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project imported"
          },
          "400": {
            "description": "Invalid project configuration"
          }
        }
      }
    },
    "/api/v1/projects/{id}": {
      "patch": {
        "summary": "Update production source and routing defaults",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "Project updated"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "delete": {
        "summary": "Remove a repository project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "204": {
            "description": "Project removed"
          }
        }
      }
    },
    "/api/v1/repository-jobs": {
      "get": {
        "summary": "List deployments for a repository project",
        "parameters": [
          {
            "in": "query",
            "name": "project_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository deployment list"
          }
        }
      },
      "post": {
        "summary": "Fetch a commit-pinned repository circuit, compile it, route it, and execute it",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryDeployment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deployment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "description": "Project or source not found"
          },
          "422": {
            "description": "Circuit or route is invalid"
          }
        }
      }
    },
    "/api/v2/circuits": {
      "post": {
        "summary": "Store an immutable OpenQASM circuit",
        "parameters": [{ "in": "header", "name": "Idempotency-Key", "required": true, "schema": { "type": "string", "minLength": 8, "maxLength": 255 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCircuit" } } } },
        "responses": {
          "201": { "description": "Circuit stored", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CircuitResponse" } } } },
          "200": { "description": "Idempotent replay of a previously stored circuit", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" }, "idempotent-replayed": { "$ref": "#/components/headers/IdempotentReplayed" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CircuitResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/Unprocessable" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/circuits/{id}": {
      "get": {
        "summary": "Read circuit metadata",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "200": { "description": "Circuit. Remains readable after release; the source is never returned.", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CircuitResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      },
      "delete": {
        "summary": "Delete a released or terminal circuit and its job history",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "204": { "description": "Circuit, its jobs, and their stored artifacts were purged", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/circuits/{id}/release": {
      "post": {
        "summary": "Release a circuit after all of its jobs are terminal",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "200": { "description": "Source and stored artifacts purged; the circuit record stays readable", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CircuitResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/jobs": {
      "post": {
        "summary": "Create a durable parent job with independent quantum executions",
        "parameters": [{ "in": "header", "name": "Idempotency-Key", "required": true, "schema": { "type": "string", "minLength": 8, "maxLength": 255 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateHostedJob" } } } },
        "responses": {
          "202": { "description": "Job accepted; credits reserved for every execution", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HostedJobResponse" } } } },
          "200": { "description": "Idempotent replay of a previously accepted job", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" }, "idempotent-replayed": { "$ref": "#/components/headers/IdempotentReplayed" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HostedJobResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "description": "Insufficient credits. The job is parked as awaiting_payment and resumes once credits are added.", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HostedJobParkedResponse" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/jobs/{id}": {
      "get": {
        "summary": "Read a parent job and all execution statuses",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "200": { "description": "Job with one summary per execution", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HostedJobResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/executions/{id}/result": {
      "get": {
        "summary": "Retrieve one normalized execution result",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "200": { "description": "Normalized result document", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "type": "object", "properties": { "backend": { "type": "string" }, "shots": { "type": "integer" }, "counts": { "type": "object", "additionalProperties": { "type": "integer" } }, "probabilities": { "type": "object", "additionalProperties": { "type": "number" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/executions/{id}/transpiled": {
      "get": {
        "summary": "Retrieve one compiled OpenQASM artifact",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "200": { "description": "Compiled OpenQASM for the selected backend", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "text/plain": { "schema": { "type": "string" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/executions/{id}/cancel": {
      "post": {
        "summary": "Cancel one execution without cancelling sibling executions",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "202": { "description": "Cancelled, or cancellation requested from the provider", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CancelledExecutionResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v2/backends": {
      "get": {
        "summary": "Discover authenticated backend capabilities and QCI pricing",
        "responses": {
          "200": { "description": "Backend catalog with capabilities and the current QCI snapshot", "headers": { "x-request-id": { "$ref": "#/components/headers/RequestId" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BackendListResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/v1/transpile": {
      "post": {
        "summary": "Analyze, route, and hardware-compile a circuit without executing it",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJob"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compilation, routing decision, and quote"
          },
          "422": {
            "description": "Circuit or target is incompatible"
          },
          "503": {
            "description": "Required compiler is unavailable"
          }
        }
      }
    },
    "/api/v1/jobs": {
      "get": {
        "summary": "List jobs",
        "responses": {
          "200": {
            "description": "Job list"
          }
        }
      },
      "post": {
        "summary": "Compile, quote, route, and durably queue a circuit",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJob"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Demo job created"
          },
          "202": {
            "description": "Job accepted into the durable execution queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits"
          },
          "422": {
            "description": "Invalid circuit or no compatible backend"
          },
          "503": {
            "description": "Compiler unavailable"
          }
        }
      }
    },
    "/api/v1/jobs/{id}": {
      "get": {
        "summary": "Get a job, decrypted result, and event timeline",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v1/jobs/{id}/cancel": {
      "post": {
        "summary": "Cancel queued work and release reserved credits",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled"
          },
          "409": {
            "description": "Already processing or terminal"
          }
        }
      }
    },
    "/api/v1/jobs/{id}/result": {
      "get": {
        "summary": "Download the decrypted JSON result artifact",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Result JSON"
          },
          "409": {
            "description": "Result is not available"
          }
        }
      }
    },
    "/api/v1/jobs/{id}/transpiled": {
      "get": {
        "summary": "Download the hardware-compiled OpenQASM artifact",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Compiled OpenQASM",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Artifact is not available"
          }
        }
      }
    },
    "/api/v1/backends": {
      "get": {
        "summary": "List QCI-priced backends and capabilities",
        "security": [],
        "responses": {
          "200": {
            "description": "Backend catalog"
          }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "summary": "List signed webhook endpoints",
        "responses": {
          "200": {
            "description": "Webhook endpoint list"
          }
        }
      },
      "post": {
        "summary": "Create a webhook endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint created; signing secret is returned once"
          }
        }
      }
    },
    "/api/v1/webhooks/deliveries": {
      "get": {
        "summary": "List webhook delivery attempts and retry state",
        "responses": {
          "200": {
            "description": "Recent delivery history"
          }
        }
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "summary": "List API keys",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create an API key (plaintext returned once)",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/api-keys/{id}": {
      "delete": {
        "summary": "Revoke an API key",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/webhooks/{id}": {
      "delete": {
        "summary": "Delete a webhook endpoint",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/repositories": {
      "get": {
        "summary": "List importable GitHub repositories",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/integrations/github": {
      "get": {
        "summary": "Read GitHub connection status",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Disconnect GitHub",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ai/route-advice": {
      "post": {
        "summary": "Explain a routing decision (optional AI layer)",
        "tags": [
          "QRouter"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
